.logo {
    background-image: url(./../../assets/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.back-promo {
    transform: skew(-20deg);
    margin-right: -15%;
    overflow: hidden;
}

.back-promo-wal {
    margin-left: -11%;
    transform: skew(20deg);
    background-image: url('./../../assets/11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.back-prod {
    padding: 0 8%;
    background-color: #cdb385;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-icon{
    font-size: 0.6rem;
    margin-top: -83%;
    margin-left: 25%;
}