.logo {
    background-image: url(./../../assets/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.back-promo {
    transform: skew(-20deg);
    margin-right: -15%;
    overflow: hidden;
}

.back-promo-wal {
    margin-left: -11%;
    transform: skew(20deg);
    background-image: url('./../../assets/11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.back-prod {
    border-radius: 10% 0% 10% 0%;
    padding: 0 12%;
    padding-bottom: 6%;
    background-color: #cdb385;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cart-icon {
    font-size: 0.6rem;
    margin-top: -83%;
    margin-left: 25%;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(85, 135, 127, 0.901);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 1rem;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}